@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css);
/* Keyframes */
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes center-animate {
  0% {
    transform: scaleX(120);
  }
  100% {
    transform: scaleX(0);
  }
}
/* End Keyframes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none !important;
  letter-spacing: normal;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 0.563rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.slideIn {
  animation-name: slideIn;
}

.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

nav {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
}
nav .company__logo {
  height: 35px;
}
nav .company__app__name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #00695b;
  top: -5px;
}
nav .company__app__name .lbl__system {
  font-size: 11px;
  bottom: -9px;
  left: 1px;
}
nav .custom__nav__link,
nav .icon__nav__link {
  color: #24292f;
}
nav .icon__nav__link i {
  font-size: 0.875rem;
}
nav .custom__navbar__toggler {
  font-size: 0.875rem;
}
nav .custom__navbar__toggler:focus {
  box-shadow: none;
}
nav .navbar-nav .dropdown-menu,
nav .navbar-nav .dropdown-item {
  border-radius: 0.5rem;
}
nav .navbar-nav .dropdown-menu {
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
  padding: 6px;
}
nav .navbar-nav .dropdown-menu .dropdown-item {
  padding: 9px 14px;
  font-size: 0.875rem;
}
nav .navbar-nav .dropdown-menu i {
  font-size: 0.813rem;
}
nav .navbar-nav .custom__nav__link,
nav .navbar-nav .icon__nav__link {
  color: #24292f;
}
nav .navbar-nav .icon__nav__link i {
  font-size: 0.875rem;
}
nav .navbar-nav .custom__nav__link {
  font-size: 0.938rem;
  font-weight: 500;
  padding: 0.8rem 0;
  position: relative;
}
nav .navbar-nav .custom__nav__link.active {
  color: #d32839;
  font-weight: 600;
}
nav .navbar-nav .custom__nav__link:hover {
  color: #d32839;
}
nav .navbar-nav .custom__nav__item {
  padding: 0 8px 0 8px;
}
nav .navbar-nav .custom__nav__item .btn__nav__create__ticket {
  background-color: #d32839;
  color: white;
  padding: 0.6rem 1rem;
  font-size: 0.938rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}
nav .navbar-nav .custom__nav__item .custom__dropdown__menu {
  margin-top: -20px;
}
nav .navbar-nav .notification__dropdown__menu {
  width: 330px;
  min-width: 130px;
}
nav .navbar-nav .notification__dropdown__menu .notification__header {
  padding: 8px 14px;
  margin-bottom: 10px;
}
nav .navbar-nav .notification__dropdown__menu .notification__header .title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #6d6d6d;
}
nav .navbar-nav .notification__dropdown__menu .notification__header .btn__mark__all__as__read {
  font-size: 0.75rem;
  color: #5882ce;
}
nav .nav__user__picture {
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 3px solid rgba(36, 105, 92, 0.2);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.confirm__logout__modal {
  border-radius: 0.625rem;
  border: none;
}

.btn__confirm__modal {
  background-color: #d32839;
  color: white;
  padding: 0.6rem 1rem;
  font-size: 0.938rem;
  border-radius: 0.5rem;
}

.btn__cancel__logout {
  background-color: #f5f7f9;
  color: black;
}
.btn__cancel__logout:hover {
  background-color: #f5f7f9;
}

.btn__confirm__logout:hover {
  background-color: #d32839;
  color: white;
}

.approver__section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.approver__section .page__header__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #212529;
}
.approver__section .custom__card {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 4px 0px rgba(132, 132, 132, 0.25);
  padding: 20px 23px;
}
.approver__section .custom__card .card__content .ticket__count {
  color: #7C858F;
  font-size: 1.8rem;
  font-weight: 600;
}
.approver__section .custom__card .card__content .card__title {
  margin-bottom: 0;
  color: #3D3D3D;
  font-size: 0.938rem;
  font-weight: 500;
  word-wrap: break-word;
}
.approver__section .custom__card .card__content i {
  font-size: 2.5rem;
  color: #5B5943;
}
.approver__section .ticket__tab__header {
  margin-bottom: 1.8rem;
  background-color: #FFFFFF;
  overflow: scroll;
  border-radius: 0.5rem;
}
.approver__section .ticket__tab__header::-webkit-scrollbar {
  display: none;
}
.approver__section .ticket__tab__header .ticket__tab__link {
  padding: 10px 6px;
  border: 0;
  font-size: 0.813rem;
  font-weight: 500;
  border-radius: 0;
  position: relative;
  color: #666666;
  border-radius: 0.5rem;
  min-width: 100px;
  width: 100%;
  min-width: 130px;
  white-space: nowrap;
}
.approver__section .ticket__tab__header .ticket__tab__link.active {
  background-color: #d32839;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.approver__section .ticket__tab__header .ticket__tab__link.active > .ticket__count__tab {
  color: #FFFFFF !important;
}
.approver__section .ticket__tab__header .ticket__tab__link.active > .arrow__down__active__tab {
  display: block;
}
.approver__section .ticket__tab__header .ticket__tab__link.active:hover {
  color: #FFFFFF;
}
.approver__section .ticket__tab__header .ticket__tab__link:hover {
  color: #5F5D5D;
}
.approver__section .ticket__tab__header .ticket__tab__link:hover > .ticket__count__tab {
  color: #5F5D5D;
}
.approver__section .ticket__tab__header .ticket__tab__link .ticket__count__tab {
  color: #6d6d6d;
}
.approver__section .ticket__card {
  border: none;
  padding: 0;
  background-color: transparent;
}
.approver__section .ticket__card .custom__table {
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
  border-bottom: none !important;
  border-collapse: separate;
  border-spacing: 0 5px;
}
.approver__section .ticket__card .custom__table > :not(caption) > * > * {
  border-bottom-width: 0 !important;
}
.approver__section .ticket__card .custom__table .table__head__label {
  letter-spacing: 0.01rem;
  font-weight: 500;
  font-size: 0.813rem;
  padding: 15px 25px;
  color: #6d6d6d;
}
.approver__section .ticket__card .custom__table th,
.approver__section .ticket__card .custom__table td {
  padding: 25px;
  white-space: nowrap;
}
.approver__section .ticket__card .custom__table tbody tr {
  background-color: #F5F7F9;
  font-weight: 500;
  color: #363636;
}
.approver__section .ticket__card .custom__table tbody td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.approver__section .ticket__card .custom__table tbody td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.approver__section .ticket__card .custom__table .custom__table__data {
  position: relative;
}
.approver__section .ticket__card .custom__table .custom__table__data .ticket__list__status__line {
  position: absolute;
  width: 3px;
  height: 19px;
  background-color: #d32839;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.625rem;
}
.approver__section .ticket__card .custom__table .custom__table__data .ticket__subject {
  font-weight: 600;
}
.approver__section .count-item {
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #7BA504;
  padding: 0.27rem 0.67rem;
  border-radius: 20px;
  color: #FFFFFF;
}
.approver__section .btn__approve__all__tickets {
  padding: 0.5rem 0.9rem;
  font-weight: 500;
  font-size: 0.813rem;
  border-radius: 0.5rem;
  background-color: #243C44;
  color: #FFFFFF;
}
.approver__section .btn__approve__ticket {
  background-color: #9DA85C;
  color: #FFFFFF;
}
.approver__section .btn__disapprove__ticket {
  background-color: #E4EEED;
  color: #353535;
}
.approver__section .btn__approve__ticket,
.approver__section .btn__disapprove__ticket {
  padding: 0.4rem 0.9rem;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 0.5rem;
}
