@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none !important;
    list-style: none !important;
    letter-spacing: normal;
}

$fw-500: 500;
$fw-600: 600;
$fs-12: 0.75rem;
$fs-13: 0.813rem;
$fs-14: 0.875rem;
$fs-15: 0.938rem;
$border-radius-10: 0.625rem;
$white: #ffffff;

input[type="password"] {
    &::placeholder {
        letter-spacing: normal;
        font-weight: normal;
    }
}

::placeholder {
    font-size: $fs-14;
    color: #b5b5b5 !important;
    font-weight: 300;
}

input {
    &:focus {
        &::placeholder {
            transition: all 0.4s;
            padding-left: 5px !important;
        }
    }

    &:not(:focus) {
        &::placeholder {
            transition: all 0.4s;
        }
    }
}

.form-control.is-invalid {
    box-shadow: none !important;
    border: 0.09rem solid #dc3545 !important;
}

.invalid-feedback {
    margin-bottom: 0;

    strong {
        font-size: $fs-12 !important;
        font-weight: $fw-500 !important;
    }
}

.login__card {
    background-color: #f9fafb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 12px;

    .app__name__container {
        top: -11%;
        left: 50%;
        transform: translate(-50%);

        &::before {
            content: "Gaisano";
            position: absolute;
            top: -18px;
            font-size: $fs-14;
            left: 1px;
        }
    }

    .label__welcome__back {
        font-size: 1.2rem;
        font-weight: $fw-600;
        color: black;
    }

    .label__type__of__user {
        font-size: $fs-14;
        color: #737373;
    }
}

.login__form__container {
    padding: 40px;
    width: 470px;
    background-color: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    .login__form__user__type {
        font-size: 1.11rem;
        font-weight: $fw-600;
    }

    .form__name {
        font-size: 1rem;
    }

    h6 {
        font-size: $fs-13;
        margin-bottom: 25px;
        color: #999;
        margin-bottom: -10px;
    }

    .company__system__name {
        font-size: 1rem;
    }

    .login__social {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        list-style-type: none !important;
    }

    .login__social__title {
        position: relative;
        z-index: 2;
        margin-top: 10px;
        margin-bottom: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #d1d3d3;
            z-index: -1;
        }

        h5 {
            font-weight: $fw-500;
            font-size: $fs-13;
            color: #999;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #fff;
        }
    }

    .input__login__label {
        color: #4a5568;
        font-size: $fs-14;
        font-weight: $fw-500;
    }

    .custom__field__message {
        font-size: $fs-12;
        font-weight: $fw-500;
    }

    .login__input__field {
        padding: 0.8rem 1rem;
        border-radius: $border-radius-10;
        outline: none;
        border: 1px solid #d1d3d3;
        font-size: $fs-15;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%) !important;

        &:focus {
            box-shadow: none;
            border-color: #d32839;
        }

        &::placeholder {
            color: #91a1b2;
        }
    }

    .login__button {
        background-color: #d32839;
        color: $white !important;
        padding: 0.8rem 1rem;
        font-size: $fs-15;
        border-radius: $border-radius-10;
        white-space: nowrap;
        font-weight: $fw-500;

        &:active {
            background-color: #d32839;
            color: $white !important;
        }

        &:hover {
            background-color: #d32839;
            color: $white !important;
        }

        &:focus {
            background-color: #d32839;
            color: $white !important;
        }

        &:disabled {
            background-color: #d32839;
        }
    }

    .login__back__button {
        padding: 0.8rem 1rem;
        font-size: $fs-15;
        border-radius: $border-radius-10;
        white-space: nowrap;
        font-weight: $fw-500;
        background-color: transparent;
        color: #4a5568;

        &:focus {
            border: 1px solid transparent !important;
        }
    }

    .link {
        font-weight: 500;
        font-size: $fs-14;
        text-align: center;
        display: block;
    }

    .form__errors {
        padding: 16px;
        background-color: #fff8dd;
        color: #721c24;
        font-size: $fs-14;
        border-radius: $border-radius-10;
    }

    .create__account__bottom {
        small {
            font-size: $fs-13;
        }
    }
}

input[type="checkbox"] {
    height: 14px;
    width: 14px;
}

@media (max-width: 420px) {
    .login__form__container {
        padding: 40px 10px;
    }

    .login__card {
        background-color: unset !important;
    }
}
