@use "../generic"as generic;
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css";

/* Keyframes */
@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes center-animate {
    0% {
        transform: scaleX(120);
    }

    100% {
        transform: scaleX(0);
    }
}

/* End Keyframes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none !important;
    // list-style: none;
    letter-spacing: normal;
}

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fs-11: 0.688rem;
$fs-12: 0.75rem;
$fs-13: 0.813rem;
$fs-14: 0.875rem;
$fs-15: 0.938rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$alert-message-background: rgba(241, 243, 244, 0.871);
$shadows-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
$border-radius-10: 0.625rem;
$border-radius-12: 0.75rem;
$border-radius-9: 0.563rem;
$border-radius-8: 0.5rem;
$border-radius-50: 3.125rem;
$border-radius-50-percent: 3.125rem;
$black-color: black;
$body-color: #f5f7f9;
$white: #ffffff;
$link-font-color: #24695c;
$link-font-hover-color: #123831;
$hover-button-background-color: #f7f7f6;
$active-button-background-color: #1a3c40;
$button-background-2: #3b8890;
$search-button-background: #1a3c40;
$button-box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%),
0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%);
$gradient-background: linear-gradient(310deg, #d28b27 0%, #f7be44 100%);
$sidebar-gradient-background: linear-gradient(310deg, #2c287f 0%, #9079ce 100%);
$box-shadow-global: 0 20px 27px 0 rgb(0 0 0 / 5%);
$hover-background: #eceff4;
$sidebar-badge-background: #31316a;
$dropdown-icon-color: #67799f;
$sidebar-badge-color: #ffffff;
$dark-background: #1f2937;
$extra-button-background: #564aa0;
$bg-dark-green: #1d5c63;
$color-1: #d32839;

::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: $border-radius-9;
}

::-webkit-scrollbar-thumb {
    border-radius: $border-radius-10;
    background: #ccc;

    &:hover {
        background: #999;
    }
}

@mixin border-0 {
    border: 0;
}

@mixin rounded-8 {
    border-radius: $border-radius-8;
}

@mixin rounded-10 {
    border-radius: $border-radius-10;
}

@mixin rounded-circle {
    border-radius: 50%;
}

@mixin card-padding {
    padding: 20px 23px;
}

@mixin form-input-and-button {
    padding: 0.6rem 1rem;
    font-size: $fs-15;
    @include rounded-8;
}

@mixin input-fields {
    @include form-input-and-button;

    &:focus {
        border-color: $color-1;
        box-shadow: none;
    }
}

@mixin button {
    background-color: $color-1;
    color: white;
    @include form-input-and-button;
}

@mixin card-shadow {
    box-shadow: 0px 1px 4px 0px rgba(132, 132, 132, 0.25);
}

.error__message {
    @include generic.error-message;
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

nav {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);

    .company__logo {
        height: 35px;
    }

    .company__app__name {
        font-size: 1.4rem;
        font-weight: $fw-600;
        color: #00695b;
        top: -5px;

        .lbl__system {
            font-size: 11px;
            bottom: -9px;
            left: 1px;
        }
    }

    .custom__nav__link,
    .icon__nav__link {
        color: #24292f;
    }

    .icon__nav__link i {
        font-size: $fs-14;
    }

    .custom__navbar__toggler {
        font-size: $fs-14;

        &:focus {
            box-shadow: none;
        }
    }

    .navbar-nav {

        .dropdown-menu,
        .dropdown-item {
            @include rounded-8;
        }

        .dropdown-menu {
            border: 0 !important;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
            padding: 6px;

            .dropdown-item {
                padding: 9px 14px;
                font-size: $fs-14;
            }

            i {
                font-size: $fs-13;
            }
        }

        .custom__nav__link,
        .icon__nav__link {
            color: #24292f;
        }

        .icon__nav__link i {
            font-size: $fs-14;
        }

        .custom__nav__link {
            font-size: $fs-15;
            font-weight: $fw-500;
            padding: 0.8rem 0;
            position: relative;

            &.active {
                color: $color-1;
                font-weight: $fw-600;
            }

            &:hover {
                color: $color-1;
            }
        }

        .custom__nav__item {
            padding: 0 8px 0 8px;

            .btn__nav__create__ticket {
                @include button;
                white-space: nowrap;
            }

            .custom__dropdown__menu {
                margin-top: -20px;
            }
        }

        .notification__dropdown__menu {
            width: 330px;
            min-width: 130px;

            .notification__header {
                padding: 8px 14px;
                margin-bottom: 10px;

                .title {
                    font-size: $fs-14;
                    font-weight: $fw-500;
                    color: #6d6d6d;
                }

                .btn__mark__all__as__read {
                    font-size: $fs-12;
                    color: #5882ce;
                }
            }
        }
    }

    .nav__user__picture {
        height: 35px;
        width: 35px;
        object-fit: contain;
        border: 3px solid rgba(36, 105, 92, 0.2);
        object-fit: cover;
        @include rounded-circle;
    }
}

.confirm__logout__modal {
    border-radius: $border-radius-10;
    border: none;
}

.btn__confirm__modal {
    @include button;
}

.btn__cancel__logout {
    background-color: #f5f7f9;
    color: black;

    &:hover {
        background-color: #f5f7f9;
    }
}

.btn__confirm__logout:hover {
    background-color: $color-1;
    color: white;
}

.approver__section {
    margin-top: 30px;
    margin-bottom: 50px;

    .page__header__title {
        font-size: $fs-18;
        font-weight: $fw-600;
        color: #212529;
    }

    .custom__card {
        border: 0;
        border-radius: $border-radius-8;
        @include card-shadow;
        @include card-padding;

        .card__content {
            .ticket__count {
                color: #7C858F;
                font-size: 1.8rem;
                font-weight: $fw-600;
            }

            .card__title {
                margin-bottom: 0;
                color: #3D3D3D;
                font-size: $fs-15;
                font-weight: $fw-500;
                word-wrap: break-word;
            }

            i {
                font-size: 2.5rem;
                color: #5B5943;
            }
        }
    }

    .ticket__tab__header {
        margin-bottom: 1.8rem;
        background-color: #FFFFFF;
        overflow: scroll;
        @include rounded-8;

        &::-webkit-scrollbar {
            display: none;
        }

        .ticket__tab__link {
            padding: 10px 6px;
            border: 0;
            font-size: $fs-13;
            font-weight: $fw-500;
            border-radius: 0;
            position: relative;
            color: #666666;
            border-radius: $border-radius-8;
            min-width: 100px;
            width: 100%;
            min-width: 130px;
            white-space: nowrap;

            &.active {
                background-color: $color-1;
                color: #ffffff;
                font-weight: $fw-600;
                box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

                &>.ticket__count__tab {
                    color: #FFFFFF !important;
                }

                &>.arrow__down__active__tab {
                    display: block;
                }

                &:hover {
                    color: #FFFFFF;
                }
            }

            &:hover {
                color: #5F5D5D;

                &>.ticket__count__tab {
                    color: #5F5D5D;
                }
            }

            .ticket__count__tab {
                color: #6d6d6d;
            }
        }
    }

    .ticket__card {
        border: none;
        padding: 0;
        background-color: transparent;

        .custom__table {
            font-size: $fs-14;
            padding: 0;
            margin: 0;
            border-bottom: none !important;
            border-collapse: separate;
            border-spacing: 0 5px;

            &> :not(caption)>*>* {
                border-bottom-width: 0 !important;
            }

            .table__head__label {
                letter-spacing: 0.01rem;
                font-weight: $fw-500;
                font-size: $fs-13;
                padding: 15px 25px;
                color: #6d6d6d;
            }

            th,
            td {
                padding: 25px;
                white-space: nowrap;
            }

            tbody {
                tr {
                    background-color: #F5F7F9;
                    font-weight: $fw-500;
                    color: #363636;
                    transition: all 0.3s;

                    &:hover {
                        cursor: pointer;
                        background-color: #F3F3F3;
                    }
                }

                td:first-child {
                    border-left-style: solid;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                td:last-child {
                    border-right-style: solid;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }

            .custom__table__data {
                position: relative;

                .ticket__list__status__line {
                    position: absolute;
                    width: 3px;
                    height: 19px;
                    background-color: $color-1;
                    left: 0;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    @include rounded-10;
                }

                .ticket__subject {
                    font-weight: $fw-600;
                }
            }
        }

        .ticket__details__section {
            .details__card__top {
                padding: 1.5rem 1.5rem 1.5rem 2.3rem;
                background-color: #ffffff;
                top: 75px;
                position: sticky;
                z-index: 1;
                border-radius: 0.5rem;
                box-shadow: 0px 1px 4px 0px rgba(132, 132, 132, 0.25);

                .ticket__details__topbuttons__label {
                    font-size: $fs-12;
                }

                .ticket__details__status {
                    font-weight: $fw-600;
                    font-size: $fs-11;
                    color: #FFFFFF;
                    background-color: #1D5C63;
                    padding: 0.3rem 0.9rem;
                    border-radius: $border-radius-50;
                    text-transform: uppercase;
                }

                .ticket__details__priority {
                    font-weight: $fw-600;
                    color: red;
                    font-size: $fs-13;
                }

                .ticket__details__ticketnumber {
                    font-weight: $fw-500;
                    color: #4a5568;
                    font-size: $fs-13;
                }

                .ticket__details__header {
                    .ticket__details__title {
                        font-weight: $fw-600;
                        font-size: $fs-15;
                    }

                    .ticket__details__datetime {
                        font-weight: $fw-500;
                        color: #4a5568;
                        font-size: $fs-12;
                    }

                    .btn__approve__ticket {
                        background-color: #9DA85C;
                        color: #FFFFFF;
                    }

                    .btn__disapprove__ticket {
                        background-color: #E4EEED;
                        color: #353535;
                    }

                    .btn__approve__ticket,
                    .btn__disapprove__ticket {
                        padding: 0.4rem 0.9rem;
                        font-weight: $fw-500;
                        font-size: $fs-12;
                        border-radius: $border-radius-8;
                    }
                }

                .btn__back {
                    position: absolute;
                    left: -19px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $body-color;
                    height: 2.3rem;
                    width: 2.3rem;
                    border: none !important;
                }
            }

            .card__ticket__details {
                border-radius: 0.5rem;
                box-shadow: 0px 1px 4px 0px rgba(132, 132, 132, 0.25);
                padding: 20px 23px;

                .ticket__details__card__header {
                    padding: 1.5rem;

                    .ticket__details__user__picture {
                        height: 35px;
                        width: 35px;
                        border-radius: $border-radius-50;
                        box-shadow: $shadows-sm;
                        margin-right: 0.7rem;
                        object-fit: cover;
                    }

                    .user__name__initial {
                        height: 30px;
                        width: 30px;
                        border-radius: $border-radius-9;
                        box-shadow: $shadows-sm;
                        background-color: #24695c;
                        margin-right: 0.7rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid #d9ddd9;
                        font-size: $fs-12;
                    }

                    .reply__ticket__details__user__fullname {
                        font-size: $fs-13;
                        font-weight: $fw-600;
                        color: #1f2937;
                    }
                }

                overflow: hidden;
                border-radius: $border-radius-10;
                margin-bottom: 15px;
                border: none;
                background-color: #fff;
                padding: 15px;

                .ticket__details__user__picture__default__user__initial {
                    position: relative;
                    height: 35px;
                    width: 35px;
                    border-radius: $border-radius-10;
                    box-shadow: $shadows-sm;
                    background-color: #24695c;
                    margin-right: 0.7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .ticket__details__user__picture__user__sender__name__initial {
                    font-size: 10px;
                    font-weight: $fw-600;
                    color: #FFFFFF;
                    margin-top: 2px;
                    letter-spacing: 1px;
                }

                .ticket__details__user__fullname {
                    font-size: $fs-14;
                    font-weight: $fw-500;
                }

                .ticket__details__card__body {
                    padding: 0 1.5rem 0 1.5rem;

                    a {
                        color: blue;
                        text-decoration: underline !important;
                    }

                    .ticket__description {
                        font-size: $fs-13;
                        font-weight: $fw-400;
                        color: black;
                    }

                    .ticket__attachments {
                        color: #4a5568;
                        font-size: $fs-14;

                        &:hover {
                            cursor: pointer;
                            color: black;
                        }
                    }

                    .ticket__reply__content {
                        border-left: 0.08rem solid #d8e0e2;
                        padding-left: 1.3rem;
                        padding-top: 1rem;
                        margin-left: 0.8rem;
                        margin-top: 0.5rem;
                        position: relative;

                        .ticket__reply__content__check__icon {
                            position: absolute;
                            left: -8px;
                            bottom: 0;
                            font-size: $fs-16;
                            color: rgba(242, 242, 242, 1);
                            background-color: black;
                            border-radius: 50%;
                        }

                        p {
                            font-size: $fs-13 !important;
                            font-weight: $fw-400;
                            text-transform: none;
                        }

                        span {
                            font-size: $fs-13 !important;
                            font-weight: $fw-400;
                            text-transform: none;
                        }
                    }
                }

                .ticket__details__time {
                    color: #717171;
                    font-size: $fs-12;
                    font-weight: $fw-500;
                }

                .ticket__details__user__department {
                    color: #717171;
                    font-size: $fs-12;
                    font-weight: $fw-500;
                }

                .reply__ticket__details__user__picture {
                    height: 30px !important;
                    width: 30px !important;
                }

            }

            .ticket__discussions {
                font-size: $fs-13;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }

        .container__ticket__details__right {
            top: 230px;
            position: sticky;

            .ticket__details__card__body__right {
                padding: 1.5rem;

                .ticket__actions {
                    >li {
                        list-style-type: square !important;
                        font-size: $fs-15;
                    }

                    .priority__name {
                        font-weight: $fw-500;
                    }
                }

                .ticket__details__info__label {
                    font-size: $fs-13;
                }

                .ticket__details__info {
                    font-size: $fs-12;
                    padding: 2px 8px;
                    border-radius: 5px;
                    background-color: #F3F3F3;

                    &.not__set {
                        background-color: transparent;
                    }
                }

                .ticket__actions__label {
                    font-size: $fs-14;
                    font-weight: $fw-600;
                    margin-bottom: 3px;
                    color: #131313;
                }

                .ticket__details__info__label {
                    font-size: $fs-13;
                }

                .ticket__assigned__agent__picture {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 2px solid #d9ddd9;

                }

                .btn__assigned__agent__details {
                    font-size: $fs-13;
                    padding: 0.4rem 0.8rem;
                    background-color: #d0f0f7;
                    border-radius: $border-radius-8;
                    border: 0;

                    &:hover {
                        background-color: #bee6ef;
                    }
                }

            }
        }


        .user__account__media {
            .user__picture {
                height: 35px !important;
                width: 35px !important;
                border-radius: $border-radius-10;
                box-shadow: $shadows-sm;
                border: 2px solid #d9ddd9;
            }

            .user__name__initial {
                height: 35px !important;
                width: 35px !important;
                border-radius: $border-radius-10;
                box-shadow: $shadows-sm;
                border: 2px solid #d9ddd9;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: $fs-12;
                padding-top: 1px;
                font-weight: $fw-500;
            }
        }
    }

    .count-item {
        font-size: $fs-12;
        font-weight: $fw-500;
        background-color: #7BA504;
        padding: 0.27rem 0.67rem;
        border-radius: 20px;
        color: #FFFFFF;
    }

    .btn__approve__ticket {
        background-color: #9DA85C;
        color: #FFFFFF;
    }

    .btn__disapprove__ticket {
        background-color: #E4EEED;
        color: #353535;
    }

    .btn__approve__ticket,
    .btn__disapprove__ticket {
        padding: 0.4rem 0.9rem;
        font-weight: $fw-500;
        font-size: $fs-12;
        border-radius: $border-radius-8;
    }
}

.custom__reply__ticket__offcanvas {
    border-radius: $border-radius-9 $border-radius-9 0 0;
    transition: width 0.3s;
    height: 80% !important;
    width: 60% !important;

    .custom__offcanvas__title {
        font-size: $fs-16;
        text-transform: capitalize;
    }

    .offcanvas__close__button {
        height: 30px;
        width: 30px;
        font-size: $fs-15;
        border-radius: $border-radius-50 !important;
        border: none;
    }

    .reply__ticket__info {
        padding: 1.2rem;
        background-color: #f7f7f7;
        border-radius: $border-radius-9;

        img.sender__profile {
            height: 30px !important;
            width: 30px !important;
            border-radius: $border-radius-50;
        }

        .user__name__initial {
            font-size: $fs-12;
            height: 30px !important;
            width: 30px !important;
            border-radius: $border-radius-9;
            border: 2px solid #d9ddd9;

        }

        .time__sent {
            font-size: $fs-12;
        }

        .ticet__description {
            font-size: $fs-13;
        }
    }

    .ticket__file__input {
        border: 0;
        border-radius: 0;
        font-size: $fs-13;

        &:focus {
            box-shadow: none;
        }
    }

    .btn__send__ticket__reply {
        padding: 0.5rem 1rem;
        font-size: $fs-15;
        border-radius: $border-radius-9;
        background-color: $color-1;
        color: #FFFFFF;
        font-weight: $fw-500;

        &:focus {
            color: #FFFFFF;
            background-color: $color-1;
        }

        &:hover {
            color: #FFFFFF;
            background-color: $color-1;
        }
    }

}

.btn__reply__ticket {
    border-radius: $border-radius-9;
    font-size: $fs-14;
    padding: 0.45rem 0.8rem;
    font-weight: $fw-400;
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
        0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
    background-color: #00695b;
    color: #FFFFFF;

    &:hover {
        background-color: #00695b;
        color: #FFFFFF;
    }

    i {
        font-size: $fs-12;
    }
}

.custom__modal {
    .custom__modal__content {
        padding: 1.5rem;

        .modal__header {
            .modal__title {
                font-size: $fs-15;
                font-weight: $fw-600;
                margin-bottom: 0 !important;
                text-transform: capitalize;
            }
        }

        .modal__footer {
            margin-top: 30px;
        }

        .modal__btnclose__bottom {
            background-color: #e9ecef;

            &:active {
                outline: none !important;
                border-color: transparent;
            }
        }
    }
}

.file__preview {
    height: 35px;
    width: 35px;
    border-radius: $border-radius-8;
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
        0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
    object-fit: cover;
}

.file__preview__link {
    text-decoration: none !important;
    color: #123831;

    &:hover {
        color: #123831;
    }
}


@media (max-width: 990px) {
    .custom__reply__ticket__offcanvas {
        width: 100% !important;
        height: 100% !important;
    }
}


@media (max-width: 767px) {
    .btn__reply__ticket {
        .lbl__reply {
            display: none !important;
        }
    }

    .btn__reply__ticket.btn__reply__ticket__mobile {
        position: fixed !important;
        bottom: 11px;
        right: 30px;
        z-index: 1;
        border-radius: $border-radius-50 !important;
        height: 3rem;
        width: 3rem;
        opacity: 0.8;
        box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
            0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
    }
}

@media (max-width: 375px) {
    .approver__section .ticket__card .ticket__details__section .details__card__top .ticket__details__status {
        font-size: 9px;
    }

    .approver__section .ticket__card .ticket__details__section .details__card__top .ticket__details__ticketnumber {
        font-size: $fs-11;
    }

    .approver__section .ticket__card .ticket__details__section .details__card__top .ticket__details__priority {
        font-size: $fs-11;
    }

    .approver__section .ticket__card .ticket__details__section .details__card__top .ticket__details__header .ticket__details__title {
        font-size: $fs-13;
    }

    .approver__section .ticket__card .ticket__details__section .card__ticket__details .ticket__details__user__fullname {
        font-size: $fs-12;
    }

    .approver__section .ticket__card .ticket__details__section .card__ticket__details .ticket__details__user__department {
        font-size: 10px;
    }

    .approver__section .ticket__card .ticket__details__section .card__ticket__details .ticket__details__time {
        font-size: 10px;
    }

    .approver__section .ticket__card .ticket__details__section .card__ticket__details .ticket__details__card__body .ticket__description {
        font-size: $fs-12;
    }

    .approver__section .ticket__card .ticket__details__section .card__ticket__details .ticket__details__card__body .ticket__attachments {
        font-size: $fs-11;
    }

    .approver__section .ticket__card .ticket__details__section .ticket__discussions {
        font-size: $fs-11;
    }

    .approver__section .ticket__card .ticket__details__section .card__ticket__details .ticket__details__card__header .reply__ticket__details__user__fullname {
        font-size: $fs-12;
    }

    .approver__section .ticket__card .ticket__details__section .card__ticket__details .ticket__details__card__body .ticket__reply__content p {
        font-size: $fs-11 !important;
    }

    .approver__section .ticket__card .container__ticket__details__right .ticket__details__card__body__right .ticket__actions__label {
        font-size: $fs-12;
    }

    .approver__section .ticket__card .container__ticket__details__right .ticket__details__card__body__right .ticket__details__info__label {
        font-size: $fs-11;
    }

    .approver__section .ticket__card .container__ticket__details__right .ticket__details__card__body__right .ticket__details__info {
        font-size: $fs-11;
    }
}
