@use "../generic" as generic;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import "../bootstrap-icons.scss";
@import '../boxicons.scss';

$fw-400: 400;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fs-11: 0.688rem;
$fs-12: 0.75rem;
$fs-13: 0.813rem;
$fs-14: 0.875rem;
$fs-15: 0.938rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;

$border-radius-10: 0.625rem;
$border-radius-12: 0.75rem;
$border-radius-9: 0.563rem;
$border-radius-8: 0.5rem;
$border-radius-50: 3.125rem;

$box-shadow-global: 0 20px 27px 0 rgb(0 0 0 / 5%);
$button-box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%),
    0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%);
$shadows-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
$body-color: #f3f4f6;
$white: #ffffff;
$color-1: #d32839;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none !important;
    letter-spacing: normal;
}

/* Keyframes */
@keyframes slideIn {
    0% {
        transform: translateY(0rem);
        opacity: 0;
    }

    100% {
        transform: translateY(1.5rem);
        opacity: 1;
    }

    0% {
        transform: translateY(0rem);
        opacity: 0;
    }
}

@mixin border-0 {
    border: 0;
}

@mixin rounded-8 {
    border-radius: $border-radius-8;
}

@mixin rounded-10 {
    border-radius: $border-radius-10;
}

@mixin rounded-circle {
    border-radius: 50%;
}

@mixin card-padding {
    padding: 20px 23px;
}

@mixin card-shadow {
    box-shadow: 0px 1px 4px 0px rgba(132, 132, 132, 0.25);
}

@mixin form-input-and-button {
    padding: 0.6rem 1rem;
    font-size: $fs-15;
    @include rounded-8;
}

@mixin input-fields {
    @include form-input-and-button;

    &:focus {
        border-color: $color-1;
        box-shadow: none;
    }
}

@mixin button {
    background-color: $color-1;
    color: white;
    @include form-input-and-button;
}

::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: $border-radius-9;
}

::-webkit-scrollbar-thumb {
    border-radius: $border-radius-10;
    background: #ccc;

    &:hover {
        background: #999;
    }
}

::selection {
    color: white;
    background: #D32839;
}

a {
    color: #24695c;

    &:hover {
        color: #24695c;
    }
}

.tooltip {
    font-size: $fs-11;
}

.sort__button {
    background-color: #E9ECEF;
    font-size: $fs-12;
    color: #212529;
    padding: 8px 12px;
    font-weight: $fw-500;

    &:hover {
        cursor: pointer;
    }

    i {
        color: #212529;
        font-size: $fs-13;
    }
}

.sort__button__dropdown {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
    margin-top: 13px !important;
    border-radius: 0.563rem;
    padding: 8px;

    .dropdown-item {
        color: #131313;
        border: 0;
        font-size: $fs-13;
        padding: 8px 13px;
        border-radius: $border-radius-9;

        i {
            color: #777d87 !important;
        }

        &:focus {
            background-color: #E9ECEF !important;
        }
    }
}

.btn__see__reason {
    color: black;
    text-decoration: underline !important;
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 4px;

    &:hover {
        color: black;
    }
}

.reason__modal,
.clarification__modal,
.reply__ticket__modal {
    border-radius: $border-radius-10;
    border: none;
}

.clarification__modal,
.reply__ticket__modal {
    .modal__content {
        .title {
            font-size: $fs-15;
            font-weight: $fw-600;
            color: #212529;
        }
    }
}

.ticket__file__input {
    border: 0;
    border-radius: 0;
    font-size: $fs-13;

    &:focus {
        box-shadow: none;
    }
}

.reason__modal {
    .modal__content {
        padding: 20px;

        .title {
            font-size: $fs-15;
            font-weight: $fw-600;
            color: #212529;
        }

        .reason__content {
            font-size: $fs-14;

            p {
                margin-bottom: 2px;
            }
        }
    }
}

.error__message {
    @include generic.error-message;
}

.custom__field__message {
    font-size: $fs-12;
    font-weight: $fw-500;
}

::placeholder {
    font-size: $fs-14;
    color: #B5B5B5 !important;
    font-weight: 300;
}

input {
    &:focus {
        &::placeholder {
            transition: all 0.4s;
            padding-left: 5px !important;
        }
    }

    &:not(:focus) {
        &::placeholder {
            transition: all 0.4s;
        }
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.file__preview {
    height: 35px;
    width: 35px;
    border-radius: $border-radius-8;
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
        0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
    object-fit: cover;
}

.file__preview__link {
    text-decoration: none !important;
    color: #123831;

    &:hover {
        color: #123831;
    }
}

.dashboard__card {
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}

.custom__modal {
    .custom__modal__content {
        padding: 1.5rem;

        .modal__header {
            .modal__title {
                font-size: $fs-15;
                font-weight: $fw-600;
                margin-bottom: 0 !important;
                text-transform: capitalize;
            }
        }

        .modal__footer {
            margin-top: 30px;
        }

        .modal__btnclose__bottom {
            background-color: #e9ecef;

            &:active {
                outline: none !important;
                border-color: transparent;
            }
        }
    }
}

body {
    background-color: $body-color;
}

.mobile__responsive__nav {
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
    padding: 6px;
    top: 20px !important;
    @include rounded-8;

    .dropdown-item {
        padding: 9px 14px;
        font-size: $fs-14;
        @include rounded-8;
    }
}

.navbar {
    .company__logo {
        height: 35px;
    }

    .company__app__name {
        font-size: 1.4rem;
        font-weight: $fw-600;
        color: #00695b;
        top: -5px;

        .lbl__system {
            font-size: 11px;
            bottom: -9px;
            left: 1px;
        }
    }

    .custom__navbar__toggler {
        font-size: $fs-14;

        &:focus {
            box-shadow: none;
        }
    }

    .navbar-nav {

        .dropdown-menu,
        .dropdown-item {
            @include rounded-8;
        }

        .dropdown-menu {
            border: 0 !important;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
            padding: 6px;
            top: 30px;

            .dropdown-item {
                padding: 9px 14px;
                font-size: $fs-14;
            }

            i {
                font-size: $fs-13;
            }
        }

        .custom__nav__link,
        .icon__nav__link {
            color: #24292f;
        }

        .icon__nav__link i {
            font-size: $fs-14;
        }

        .custom__nav__link {
            font-size: $fs-15;
            font-weight: $fw-500;
            padding: 0.8rem 0;
            position: relative;

            &.active {
                color: $color-1;
                font-weight: $fw-600;
            }

            &:hover {
                color: $color-1;
            }
        }

        .custom__nav__item {
            padding: 0 8px 0 8px;

            .btn__nav__create__ticket {
                @include button;
                white-space: nowrap;
            }

            .custom__dropdown__menu {
                margin-top: -20px;
            }
        }
    }

    .nav__user__picture {
        height: 35px;
        width: 35px;
        object-fit: contain;
        border: 3px solid rgba(36, 105, 92, 0.2);
        object-fit: cover;
        @include rounded-circle;
    }
}

// Notification Canvas
.notification__canvas {
    min-width: 25% !important;

    .notification__count {
        background-color: $color-1;
        color: white;
        font-size: $fs-11;
        padding: 3px 4px;
        min-width: 22px;
    }

    .notification__message {
        font-size: $fs-14;
        color: #09090b;
        font-weight: $fw-600;
    }

    .notification__date__time {
        font-size: $fs-11;
    }

    .notification__running__time {
        font-size: $fs-11;
    }

    .notification__sender__fullname {
        font-weight: $fw-500;
        font-size: $fs-14;
    }

    .notification__card {
        transition: 0.3s;

        &.unread__border {
            border-left: 2px solid $color-1;
        }

        &:hover {
            background-color: #F2F2F2;
        }

        .btn__view__notification {
            font-size: $fs-14;
            color: $color-1;

            &:hover {
                cursor: pointer;
            }
        }

        .btn__delete__notification {
            height: 25px;
            width: 25px;
            font-size: $fs-12;
            background-color: #E9ECEF;
        }
    }

    .no__notification {
        .notification__bell__container {
            width: 50px;
            height: 50px;
        }

        .message__1 {
            font-size: $fs-15;
        }

        .message__2 {
            font-size: $fs-14;
        }
    }

    .btn__close__notification__canvas {
        box-shadow: none;
        font-size: $fs-20;
        padding: 10px;
        height: 30px;
        width: 30px;
        border-radius: $border-radius-50;
        border: none;

        &:hover {
            background-color: #F8F9FA;
        }
    }

}

.loading__spinner {
    height: 12px;
    width: 12px;
}

.ticket__tab__header {
    margin-bottom: 3rem;
    background-color: #fcfdfd;
    padding-left: 5px;
    padding-right: 5px;
    overflow: scroll;
    @include rounded-8;

    &::-webkit-scrollbar {
        display: none;
    }

    .ticket__tab__link {
        padding: 20px 0;
        border: 0;
        font-size: $fs-13;
        font-weight: $fw-500;
        border-radius: 0;
        position: relative;
        color: #666666;
        border-top-left-radius: $border-radius-8;
        border-top-right-radius: $border-radius-8;
        min-width: 100px;
        width: 100%;
        min-width: 130px;
        white-space: nowrap;

        &.active {
            background-color: inherit !important;
            border-bottom: 0.2rem solid $color-1;
            color: $color-1 !important;

            font-weight: $fw-600;

            &>.ticket__count__tab {
                color: $color-1 !important;
            }

            &>.arrow__down__active__tab {
                display: block;
            }
        }

        &:hover {
            color: $color-1;

            &>.ticket__count__tab {
                color: $color-1;
            }
        }

        .ticket__count__tab {
            color: #6d6d6d;
        }
    }
}

.ticket__content {
    &.header {
        margin-bottom: 20px;
    }

    .content__title {
        font-size: $fs-18;
        font-weight: $fw-600;
        color: #d32839;
    }

    // .search__container {
    //     .search__ticket__input {
    //         padding: 0.6rem 2.8rem 0.6rem 1.1rem;
    //         border: none;
    //         background-color: #ecedf6;
    //         font-size: $fs-14;
    //         width: 100%;
    //         @include rounded-8;

    //         &:focus {
    //             box-shadow: none;
    //             background-color: white;
    //             border: 1px solid $color-1;

    //             & ~ .search__icon {
    //                 color: $color-1;
    //             }
    //         }
    //     }

    //     .search__icon {
    //         position: absolute;
    //         top: 10px;
    //         right: 18px;
    //         color: #a1a5b7;
    //     }
    // }

    .btn__filter__ticket {
        font-size: $fs-14;
        // width: 170px;
        padding: 0.4rem 0.7rem;
        background-color: #e4eeed;
        gap: 7px;
        font-weight: $fw-500;
        color: #353535;
        @include rounded-8;
    }
}

.ticket__costing__modal {
    .costing__file__attachment {
        border: 0;
        border-radius: 0;
        font-size: $fs-13;

        &:focus {
            box-shadow: none;
        }
    }

    .ticket__costing__label {
        font-size: $fs-14;
        color: #212529;
        font-weight: 500;
    }
}

.modal__btnsubmit__bottom {
    min-width: 90px;

    &:focus {
        background-color: $color-1 !important;
        color: $white !important;
    }

    background-color: $color-1;
    box-shadow: $button-box-shadow;
    color: $white;

    &:hover {
        background-color: $color-1;
        box-shadow: $button-box-shadow;
        color: $white;
    }
}

.modal__close__button {
    height: 30px;
    width: 30px;
    font-size: $fs-15;
    border-radius: $border-radius-50 !important;

    &:focus {
        border: none;
    }
}

.modal__footer__button {
    padding: 9px 18px;
    font-size: $fs-12;
    border-radius: $border-radius-10;
    text-transform: uppercase;
    font-weight: $fw-500 !important;

    &:focus {
        border-color: $body-color !important;
    }
}

.ticket__card {
    border: none;
    padding: 0;
    background-color: transparent;

    .custom__table {
        font-size: $fs-14;
        padding: 0;
        margin: 0;
        border-bottom: none !important;
        border-collapse: separate;
        border-spacing: 0 5px;

        &> :not(caption)>*>* {
            border-bottom-width: 0 !important;
        }

        .table__head__label {
            letter-spacing: 0.01rem;
            font-weight: $fw-500;
            font-size: $fs-13;
            padding: 15px 25px;
            color: #6d6d6d;
        }

        th,
        td {
            padding: 25px;
            white-space: nowrap;
        }

        tbody {
            tr {
                background-color: white;
                font-weight: $fw-500;
                color: #363636;

                &:hover {
                    cursor: pointer;
                }
            }

            td:first-child {
                border-left-style: solid;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            td:last-child {
                border-right-style: solid;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }
        }

        .custom__table__data {
            position: relative;

            .ticket__list__status__line {
                position: absolute;
                width: 3px;
                height: 19px;
                background-color: $color-1;
                left: 0;
                @include rounded-10;
            }

            .ticket__subject {
                font-weight: $fw-600;
            }
        }
    }

    .ticket__details__section {
        .details__card__top {
            padding: 1.5rem 1.5rem 1.5rem 2.3rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            top: 75px;
            position: sticky;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 7px 7px -7px;
            z-index: 1;

            .ticket__details__status {
                font-weight: $fw-600;
                font-size: $fs-11;
                color: #FFFFFF;
                background-color: #1D5C63;
                padding: 0.3rem 0.9rem;
                border-radius: $border-radius-50;
                text-transform: uppercase;
            }

            .ticket__details__priority {
                font-weight: $fw-600;
                color: red;
                font-size: $fs-13;
            }

            .ticket__details__ticketnumber {
                font-weight: $fw-500;
                color: #4a5568;
                font-size: $fs-13;
            }

            .ticket__details__header {
                .ticket__details__title {
                    font-weight: $fw-600;
                    font-size: $fs-15;
                }

                .ticket__details__datetime {
                    font-weight: $fw-500;
                    color: #4a5568;
                    font-size: $fs-12;
                }
            }

            .btn__back {
                position: absolute;
                left: -19px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $body-color;
                height: 2.3rem;
                width: 2.3rem;
                border: none !important;
            }
        }

        .card__ticket__details {
            .ticket__details__card__header {
                padding: 1.5rem;

                .ticket__details__user__picture {
                    height: 35px;
                    width: 35px;
                    border-radius: $border-radius-50;
                    box-shadow: $shadows-sm;
                    margin-right: 0.7rem;
                    object-fit: cover;
                }

                .user__name__initial {
                    height: 30px;
                    width: 30px;
                    border-radius: $border-radius-9;
                    box-shadow: $shadows-sm;
                    background-color: #24695c;
                    margin-right: 0.7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid #d9ddd9;
                    font-size: $fs-12;
                }

                .reply__ticket__details__user__fullname {
                    font-size: $fs-13;
                    font-weight: $fw-600;
                    color: #1f2937;
                }
            }

            overflow: hidden;
            border-radius: $border-radius-10;
            margin-bottom: 15px;
            border: none;
            background-color: #fff;
            padding: 15px;

            .ticket__details__user__picture__default__user__initial {
                position: relative;
                height: 35px;
                width: 35px;
                border-radius: $border-radius-10;
                box-shadow: $shadows-sm;
                background-color: #24695c;
                margin-right: 0.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .ticket__details__user__picture__user__sender__name__initial {
                font-size: 10px;
                font-weight: $fw-600;
                color: #FFFFFF;
                margin-top: 2px;
                letter-spacing: 1px;
            }

            .ticket__details__user__fullname {
                font-size: $fs-14;
                font-weight: $fw-500;
            }

            .ticket__details__card__body {
                padding: 0 1.5rem 0 1.5rem;

                a {
                    color: blue;
                    text-decoration: underline !important;
                }

                .ticket__description {
                    font-size: $fs-13;
                    font-weight: $fw-400;
                    color: black;
                }

                .ticket__attachments {
                    color: #4a5568;
                    font-size: $fs-14;

                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }

                .ticket__reply__content {
                    border-left: 0.08rem solid #d8e0e2;
                    padding-left: 1.3rem;
                    padding-top: 1rem;
                    margin-left: 0.8rem;
                    margin-top: 0.5rem;
                    position: relative;

                    .ticket__reply__content__check__icon {
                        position: absolute;
                        left: -8px;
                        bottom: 0;
                        font-size: $fs-16;
                        color: rgba(242, 242, 242, 1);
                        background-color: black;
                        border-radius: 50%;
                    }

                    p {
                        font-size: $fs-13 !important;
                        font-weight: $fw-400;
                        text-transform: none;
                    }

                    span {
                        font-size: $fs-13 !important;
                        font-weight: $fw-400;
                        text-transform: none;
                    }
                }

                // Custom Form
                .custom__form__name {
                    font-size: $fs-15;
                    font-weight: 500;
                }

                .btn__edit__custom__form {
                    font-size: $fs-13;
                    border: 1px solid rgb(223, 228, 233);
                    color: #3e3d3d;
                    font-weight: 500;
                    background-color: #f3f4f6;
                    outline: none;
                    padding: 6px 12px;
                    border-radius: $border-radius-8;

                    &:hover {
                        color: black;
                        border-color: rgb(202, 208, 214);
                    }

                    i {
                        font-size: $fs-11;
                    }
                }

                .custom__form__image__container {
                    .custom__form__file__attachment__image {
                        height: 4rem;
                        width: 4rem;
                        padding: 0;
                        object-fit: cover;
                        border-radius: $border-radius-8;
                        transition: all 0.4s;

                        &:hover {
                            transform: scale(1.02);
                        }
                    }

                    .custom__form__image__action__buttons__container {
                        bottom: 3px;
                        gap: .27rem !important;
                        display: none !important;

                        .btn__delete__custom__form__file {
                            height: 24px;
                            width: 24px;
                            font-size: $fs-13;
                            border-radius: $border-radius-8;
                            background-color: #797a7b;
                            color: $white;
                        }
                    }

                    &:hover {
                        .custom__form__image__action__buttons__container {
                            display: flex !important;
                        }
                    }
                }

                .custom__form__document__file__container {
                    text-decoration: none !important;
                    color: inherit !important;
                    font-size: $fs-13;
                    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                    padding: 0.6rem 1.3rem;
                    border-radius: $border-radius-8;
                    width: auto;
                    margin-right: -17px;

                    .file__type {
                        font-size: 1.2rem;
                    }
                }

                .custom__form__document__action__buttons__container {
                    position: absolute;
                    top: -11px;
                    right: -5px;

                    .btn__dropdown__menu__custom__form__document {
                        border: none;
                        height: 25px;
                        width: 25px;
                        font-size: $fs-13;
                        background-color: $white;
                        border-radius: $border-radius-8;
                        color: #96a0a8 !important;
                        border-radius: $border-radius-50;
                        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

                        &:focus {
                            color: #d32839;
                            border-color: #d32839;
                            background-color: $white;
                        }

                        &:hover {
                            color: black !important;
                        }
                    }

                    .dropdown-menu {
                        padding: 3px;
                        border-radius: $border-radius-8;
                        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

                        .dropdown-item {
                            text-decoration: none !important;
                            color: inherit;
                            font-size: $fs-13;
                            padding: 6px 12px;
                            border-radius: $border-radius-8;

                            &:focus {
                                background-color: #e9ecef;
                                color: black;
                            }
                        }
                    }
                }

                .input__field__label {
                    font-size: $fs-14;
                    font-weight: $fw-500;
                    color: #4a5568;
                }

                .input__field {
                    @include input-fields;

                    &:disabled {
                        background-color: #f3f4f6;
                        border: none;
                    }
                }

                .custom__form__attachment__input {
                    border: 0;
                    border-radius: 0;
                    font-size: $fs-13;

                    &:focus {
                        box-shadow: none;
                    }

                    &:disabled {
                        background-color: #f8fafd !important;
                    }
                }
            }

            .ticket__details__time {
                color: #717171;
                font-size: $fs-12;
                font-weight: $fw-500;
            }

            .ticket__details__user__department {
                color: #717171;
                font-size: $fs-12;
                font-weight: $fw-500;
            }

            .reply__ticket__details__user__picture {
                height: 30px !important;
                width: 30px !important;
            }

            .ticket__costing__container {
                padding: 1.5rem;

                .currency {
                    font-size: 1.3rem !important;
                }

                .amount {
                    font-size: 1.2rem;
                    font-weight: $fw-600;
                    color: #212529;
                }

                .btn__edit__costing,
                .btn__update__costing {
                    height: 30px;
                    width: 30px;
                    border: 0 !important;
                    font-size: $fs-13;
                    color: #6C757D;

                    &:hover {
                        background-color: #F5F7F9;
                        color: #212529;
                    }
                }

                .costing__header__label {
                    font-size: $fs-13;
                }

                .approved__costing__status {
                    font-size: $fs-12;
                    font-weight: $fw-500;
                    color: green;
                    padding: 2px 7px;
                    background-color: #F5F7F9;
                    border: 0.01rem solid #d1d3d3;
                    height: 24px;
                }

                .costing__approver__container {
                    .costing__approver__picture {
                        height: 27px;
                        width: 27px;
                        opacity: 2;
                        -o-object-fit: cover;
                        object-fit: cover;
                        opacity: 0.5;
                    }

                    .costing__approver__initial {
                        font-weight: $fw-500;
                        font-size: 11px;
                        height: 27px;
                        width: 27px;
                        color: white;
                    }

                    .costing__approver__approved__badge {
                        font-size: 11px;
                        height: 15px;
                        width: 15px;
                        bottom: 0;
                        border: 2px solid white;
                        background-color: green;
                        color: white;
                        right: -2px;
                    }
                }

                .btn__approve__costing {
                    font-size: $fs-13;
                    background-color: #D32839;
                    color: white;
                    outline: none;
                    font-weight: $fw-500;
                }

                .costing__labels {
                    font-size: $fs-13;
                }

                .separator {
                    width: 1px;
                    height: 100%;
                    margin: 0 10px;
                    background-color: #d1d3d3;
                }

                .show__costing__attachments,
                .btn__show__add__costing__file__modal {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .btn__show__add__costing__file__modal {
                    border-radius: $border-radius-8;
                    font-size: $fs-11;
                    padding: 0.3rem 0.5rem;
                    background-color: #F5F7F9;

                    &:hover {
                        background-color: #E9ECEF;
                    }
                }

                .ticket__actual__cost {
                    font-size: 1.2rem !important;
                }

                .file__attachment__actions__container {
                    .file__attachment__action__button {
                        font-size: $fs-15;
                    }
                }
            }

            .ticket__attach__pr__section {
                border-top: 0.08rem solid #ebebeb;

                .ticket__pr__content {
                    padding: 1.3rem 1.5rem;

                    .pr__section__label {
                        font-size: $fs-14;
                        font-weight: $fw-500;
                    }

                }

                .btn__show__add__costing__pr__file__modal {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .btn__show__add__costing__pr__file__modal {
                    border-radius: $border-radius-8;
                    font-size: $fs-12;
                    font-weight: $fw-500;
                    padding: 0.3rem 0.5rem;
                    background-color: #F5F7F9;

                    i {
                        font-size: $fs-13;
                    }

                    &:hover {
                        background-color: #E9ECEF;
                    }
                }
            }

            .level__approval__container {
                .level__number__label {
                    color: #7b6c6c;
                    font-size: $fs-13;
                    font-weight: $fw-600;
                }

                .level__approver__container {
                    border-left: 0.08rem solid #d1d3d3;

                    .level__approval__approver__dot {
                        height: 8px;
                        width: 8px;
                        left: -0.264rem;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $white;
                        border: 0.11rem solid #d1d3d3;
                    }

                    .level__approval__approver__picture {
                        height: 30px;
                        width: 30px;
                        border-radius: $border-radius-8;
                        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
                        margin-right: 0.7rem;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }

                    .level__approval__approver__name__initial {
                        height: 24px;
                        width: 24px;
                        font-size: 9px;
                        border-radius: $border-radius-8;
                    }

                    .approver__name {
                        font-size: $fs-13;
                    }
                }
            }
        }

        .threads__clarifications__tab__container {
            a {
                font-size: $fs-13;
                font-weight: $fw-500;
                border: 0;
                padding-bottom: 6px;

                &.active {
                    border-bottom: 2px solid $color-1;
                    color: $color-1;
                    font-weight: $fw-600;
                }
            }
        }

        .ticket__discussions {
            font-size: $fs-13;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    .container__ticket__details__right {
        top: 230px;
        position: sticky;

        .ticket__details__card__body__right {
            padding: 1.5rem;

            .ticket__actions {
                >li {
                    list-style-type: square !important;
                    font-size: $fs-15;
                }

                .priority__name {
                    font-weight: $fw-500;
                }
            }

            .ticket__details__info__label {
                font-size: $fs-13;
            }

            .ticket__details__info {
                font-size: $fs-12;
                padding: 2px 8px;
                border-radius: 5px;
                background-color: #F3F3F3;

                &.not__set {
                    background-color: transparent;
                }
            }

            .ticket__actions__label {
                font-size: $fs-14;
                font-weight: $fw-600;
                margin-bottom: 3px;
                color: #131313;
            }

            .ticket__details__info__label {
                font-size: $fs-13;
            }

            .ticket__assigned__agent__picture {
                height: 40px;
                width: 40px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid #d9ddd9;

            }

            .btn__assigned__agent__details {
                font-size: $fs-13;
                padding: 0.4rem 0.8rem;
                background-color: #d0f0f7;
                border-radius: $border-radius-8;
                border: 0;

                &:hover {
                    background-color: #bee6ef;
                }
            }

        }
    }


    .user__account__media {
        .user__picture {
            height: 35px !important;
            width: 35px !important;
            border-radius: $border-radius-10;
            box-shadow: $shadows-sm;
            border: 2px solid #d9ddd9;
        }

        .user__name__initial {
            height: 35px !important;
            width: 35px !important;
            border-radius: $border-radius-10;
            box-shadow: $shadows-sm;
            border: 2px solid #d9ddd9;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: $fs-12;
            padding-top: 1px;
            font-weight: $fw-500;
        }
    }
}

.log__container {
    .log__icon {
        color: $color-1;
        font-size: 23px;
        margin-top: -2px;
    }

    .log__description {
        font-size: $fs-13 !important;
        color: #212529;
        font-weight: $fw-500;


        .causer__details {
            font-weight: $fw-600 !important;
        }
    }

    .log__date,
    .log__time {
        font-size: $fs-11;
    }

    .log__list:last-child {
        border-bottom: 0 !important;
    }
}

.btn__reply__ticket {
    border-radius: $border-radius-9;
    font-size: $fs-14;
    padding: 0.45rem 0.8rem;
    font-weight: $fw-400;
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
        0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
    background-color: #00695b;
    color: #FFFFFF;

    &:hover {
        background-color: #00695b;
        color: #FFFFFF;
    }

    i {
        font-size: $fs-12;
    }
}

.ticket__actions__label {
    font-size: $fs-14;
    font-weight: $fw-600;
    margin-bottom: 3px;
    color: #131313;
}

.reply__ticket__info {
    padding: 1.2rem;
    background-color: #f7f7f7;
    border-radius: $border-radius-9;

    img.sender__profile {
        height: 30px !important;
        width: 30px !important;
        border-radius: $border-radius-50;
    }

    .user__name__initial {
        font-size: $fs-12;
        height: 30px !important;
        width: 30px !important;
        border-radius: $border-radius-9;
        border: 2px solid #d9ddd9;

    }

    .time__sent {
        font-size: $fs-12;
    }

    .ticet__description {
        font-size: $fs-13;
    }
}

.ticket__file__input {
    border: 0;
    border-radius: 0;
    font-size: $fs-13;

    &:focus {
        box-shadow: none;
    }
}

.btn__send__ticket__reply {
    padding: 0.5rem 1rem;
    font-size: $fs-15;
    border-radius: $border-radius-9;
    background-color: $color-1;
    color: #FFFFFF;
    font-weight: $fw-500;

    &:focus {
        color: #FFFFFF;
        background-color: $color-1;
    }

    &:hover {
        color: #FFFFFF;
        background-color: $color-1;
    }
}

.account__settings {
    margin-top: 4rem;

    .custom__card {
        @include border-0;
        @include card-padding;

        .user__picture {
            height: 8rem;
            width: 8rem;
            object-fit: cover;
            border: 6px solid rgba(36, 105, 92, 0.2);
            @include rounded-circle;
        }

        .user__date__joined {
            font-size: $fs-13;

            .date {
                font-weight: $fw-500;
            }
        }
    }

    @mixin account-content-padding {
        padding: 1.6rem 2rem;
    }

    .account__content__header {
        .account__content__header__title {
            @include account-content-padding;
            color: #434040;
            font-size: $fs-18;
        }

        .account__content__tab {
            padding: 0 2rem;

            &::-webkit-scrollbar {
                display: none;
            }

            .account__tab__button {
                font-size: $fs-14;
                padding: 0.2rem 0 0.9rem 0;
                font-weight: $fw-500;

                &.active {
                    border-bottom: 0.2rem solid $color-1 !important;
                    border-radius: 0;
                    font-weight: $fw-600;
                    color: $color-1;
                }
            }
        }
    }

    .account__content {
        @include account-content-padding;

        .account__info__fields__container {
            @include border-0;

            .upload__new__photo {
                height: 60px;
                width: 60px;
                object-fit: cover;
                border: 3px solid rgba(36, 105, 92, 0.2);
                @include rounded-circle;
            }

            .upload__photo__field {
                width: 100px;

                &:focus {
                    box-shadow: none;
                }
            }

            #inputFileErrorMsg {
                font-size: $fs-12;
            }

            .account__form__container {
                .input__field__label {
                    font-size: $fs-14;
                    font-weight: $fw-500;
                    color: #4a5568;
                }

                .input__field {
                    @include input-fields;
                }

                .btn__save__account {
                    @include button;
                }
            }
        }
    }
}

.requester__section {
    margin-top: 30px;
    margin-bottom: 50px;

    .custom__card {
        border: 0;
        margin-bottom: 20px;
        border-radius: $border-radius-8;
        @include card-padding;

        .card__content {
            .ticket__count {
                color: #7C858F;
                font-size: 1.8rem;
                font-weight: $fw-600;
            }

            .card__title {
                margin-bottom: 0;
                color: #3D3D3D;
                font-size: $fs-15;
                font-weight: $fw-500;
                word-wrap: break-word;
            }

            .icon__container {
                height: 50px;
                width: 50px;
                padding: 13px;
                background-color: #FBF8F8;
                border-radius: $border-radius-9
            }

            i {
                font-size: 1.5rem;
                color: #1d5c63;
            }
        }
    }
}

.confirm__logout__modal {
    border-radius: $border-radius-10;
    border: none;
}

.btn__confirm__modal {
    @include button;
}

.btn__cancel__logout {
    background-color: #f3f4f6;
    color: black;

    &:hover {
        background-color: #f3f4f6;
    }
}

.btn__confirm__logout:hover {
    background-color: $color-1;
    color: white;
}

.create__ticket__modal {
    .modal__content {
        padding: 1.6rem 1.2rem;
        border: 0;
        border-radius: $border-radius-10;

        .modal__title {
            font-size: $fs-18 !important;
            font-weight: $fw-600;
        }

        .modal__body {
            .input__field__label {
                font-size: $fs-14;
                font-weight: $fw-500;
                color: #4a5568;
            }

            .input__field {
                @include input-fields;

                &:focus {
                    box-shadow: none;
                }
            }

            #check-other-branch {
                height: 16px;
                width: 16px;
                border: 2px solid #CED4DA;
                box-shadow: none !important;

                &:checked {
                    background-color: #D32839;
                    border-color: #D32839;

                    &+.labelCheckOtherBranch {
                        color: $color-1;
                        font-weight: $fw-600;
                    }
                }
            }

            .labelCheckOtherBranch {
                font-size: $fs-15;
                font-weight: $fw-500;

            }

            .create__ticket__form__card {
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                border-radius: $border-radius-9;
                font-size: $fs-14;
                font-weight: $fw-500;

                &:hover {
                    cursor: pointer;
                    // border: 0.07rem solid #d32839 !important;
                    background-color: #f3f4f6;
                }
            }

            .help__topic__form__menu__button {
                height: 20px;
                width: 20px;
                background-color: $white;
                border: 1px solid #e7e9eb;
                font-size: $fs-12;
            }

            .help__topic__form__dropdown__menu {
                border: 0;
                padding: 4px;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                border-radius: $border-radius-8;

                .dropdown-item {
                    font-size: $fs-14;
                    border-radius: $border-radius-8;
                    padding: 5px 15px;

                    &:focus {
                        background-color: #f3f4f6;
                        color: #1f2937;
                    }
                }
            }
        }

        .radio__button__label {
            font-size: $fs-14;
            font-weight: $fw-500;
        }

        .ticket__file {
            box-shadow: none;
        }

        .ticket__modal__button {
            @include button;

            &.btn__close__ticket__modal {
                background-color: #f3f4f6 !important;
                color: black;
            }
        }

        input[type="radio"] {
            height: 17px;
            width: 17px;
            border: 2px solid #ced4da;
        }

        input[type="radio"]:checked {
            background-color: $color-1;
            box-shadow: none;
            border: 0;
        }

        #checkSendTicketToOtherBranch {
            height: 16px;
            width: 16px;
            box-shadow: none;
            border: 0.15rem solid $color-1;

            &:checked {
                background-color: $color-1;
                border: none;

                &+.labelcheckSendTicketToOtherBranch {
                    color: $color-1;
                }
            }
        }

        .labelcheckSendTicketToOtherBranch {
            font-weight: $fw-600;
            color: #4a5568;
        }

        .custom__form {
            border: 1px solid #ced4da;

            .form__name {
                font-size: 1.02rem;
                text-transform: uppercase;
            }

            .form__label {
                white-space: nowrap;
            }

            .pr__form__gmall__logo {
                height: 50px;
            }

            .custom__field {
                border-bottom: 1px solid #ced4da !important;

                &:focus {
                    border: 1px solid #d32839 !important;
                }
            }

            .header__field {
                border-bottom: 0.08rem solid #ced4da !important;

                &:focus {
                    border-bottom-color: #d32839 !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .btn__reply__ticket {
        .lbl__reply {
            display: none !important;
        }
    }

    .btn__reply__ticket.btn__reply__ticket__mobile {
        position: fixed !important;
        bottom: 11px;
        right: 30px;
        z-index: 1;
        border-radius: $border-radius-50 !important;
        height: 3rem;
        width: 3rem;
        opacity: 0.8;
        box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
            0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
    }
}

@media (max-width: 991px) {
    .navbar {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }
}

@media (max-width: 990px) {
    .custom__reply__ticket__offcanvas {
        width: 100% !important;
        height: 100% !important;
    }
}

@media (max-width: 375px) {
    .ticket__card .ticket__details__section .details__card__top .ticket__details__status {
        font-size: 9px;
    }

    .ticket__card .ticket__details__section .details__card__top .ticket__details__ticketnumber {
        font-size: $fs-11;
    }

    .ticket__card .ticket__details__section .details__card__top .ticket__details__priority {
        font-size: $fs-11;
    }

    .ticket__card .ticket__details__section .details__card__top .ticket__details__header .ticket__details__title {
        font-size: $fs-13;
    }

    .ticket__card .ticket__details__section .card__ticket__details .ticket__details__user__fullname {
        font-size: $fs-12;
    }

    .ticket__card .ticket__details__section .card__ticket__details .ticket__details__user__department {
        font-size: 10px;
    }

    .ticket__card .ticket__details__section .card__ticket__details .ticket__details__time {
        font-size: 10px;
    }

    .ticket__card .ticket__details__section .card__ticket__details .ticket__details__card__body .ticket__description {
        font-size: $fs-12;
    }

    .ticket__card .ticket__details__section .card__ticket__details .ticket__details__card__body .ticket__attachments {
        font-size: $fs-11;
    }

    .ticket__card .ticket__details__section .ticket__discussions {
        font-size: $fs-11;
    }

    .ticket__card .ticket__details__section .card__ticket__details .ticket__details__card__header .reply__ticket__details__user__fullname {
        font-size: $fs-12;
    }

    .ticket__card .ticket__details__section .card__ticket__details .ticket__details__card__body .ticket__reply__content p {
        font-size: $fs-11 !important;
    }

    .ticket__card .container__ticket__details__right .ticket__details__card__body__right .ticket__actions__label {
        font-size: $fs-12;
    }

    .ticket__card .container__ticket__details__right .ticket__details__card__body__right .ticket__details__info__label {
        font-size: $fs-11;
    }

    .ticket__card .container__ticket__details__right .ticket__details__card__body__right .ticket__details__info {
        font-size: $fs-11;
    }
}