.vscomp-ele {
  width: 100%;
  max-width: 100%;
}

.vscomp-toggle-button {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.563rem;
  border: 1px solid #e7e9eb;
}

.vscomp-wrapper.focused .vscomp-toggle-button,
.vscomp-wrapper:focus .vscomp-toggle-button {
  box-shadow: none;
  border-color: #d32839;
  box-shadow: none;
}

.vscomp-option:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.vscomp-option.focused {
  background-color: #f3f4f6;
}

.vscomp-dropbox-container {
  z-index: 3 !important;
}

.pop-comp-wrapper {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
}
.pop-comp-wrapper .vscomp-dropbox {
  border-radius: 0.5rem !important;
}

.vscomp-wrapper.show-value-as-tags .vscomp-arrow {
  display: none;
}

.vscomp-wrapper.show-value-as-tags:not(.has-value) .vscomp-toggle-button {
  padding-bottom: 8px;
}

.vscomp-wrapper.show-value-as-tags .vscomp-toggle-button {
  padding: 8px 15px;
}

.vscomp-wrapper.show-value-as-tags:not(.has-value) .vscomp-value {
  padding-bottom: 0;
}

.vscomp-wrapper.show-value-as-tags .vscomp-clear-button {
  top: 9px;
}

.vscomp-wrapper.show-value-as-tags .vscomp-value {
  gap: 8px !important;
}

.vscomp-wrapper.show-value-as-tags .vscomp-value-tag-content {
  font-size: 12px;
}

.vscomp-wrapper.show-value-as-tags .vscomp-value-tag {
  background-color: #FFFFFF;
  padding: 3px 3px 3px 10px;
  color: #212529;
  margin: 0 !important;
}

.vscomp-wrapper.show-value-as-tags .vscomp-value-tag-clear-button {
  margin-left: 4px;
  background-color: #f9f9fc;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  border-width: 1px;
}

.vscomp-wrapper.show-value-as-tags .vscomp-value-tag-clear-button .vscomp-clear-icon {
  color: #040608;
}

.vscomp-wrapper.show-as-popup .vscomp-dropbox {
  border-radius: 8px !important;
}
