@charset "UTF-8";
.vscomp-ele {
  width: 100%;
  max-width: 100%;
}

.vscomp-toggle-button {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.563rem;
  border: 1px solid #e7e9eb;
}

.vscomp-wrapper.focused .vscomp-toggle-button,
.vscomp-wrapper:focus .vscomp-toggle-button {
  box-shadow: none;
  border-color: #d32839;
  box-shadow: none;
}

.vscomp-option:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.vscomp-option.focused {
  background-color: #f5f7f9;
}

.vscomp-option.selected::after {
  content: "✔";
  position: absolute;
  right: 15px;
}

.vscomp-option:hover {
  color: #d32839;
}
.vscomp-option:hover::after {
  content: "✔";
  position: absolute;
  right: 15px;
}

.vscomp-dropbox-container {
  z-index: 3 !important;
}

.pop-comp-wrapper {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
}
.pop-comp-wrapper .vscomp-dropbox {
  border-radius: 0.5rem !important;
}

.vscomp-wrapper.show-value-as-tags .vscomp-arrow {
  display: none;
}

.vscomp-wrapper.show-value-as-tags:not(.has-value) .vscomp-toggle-button {
  padding-bottom: 8px;
}

.vscomp-wrapper.show-value-as-tags .vscomp-toggle-button {
  padding: 8px 15px 12px 15px;
}

.vscomp-wrapper.show-value-as-tags:not(.has-value) .vscomp-value {
  padding-bottom: 0;
}

.vscomp-wrapper.show-value-as-tags .vscomp-clear-button {
  top: 9px;
}

.vscomp-wrapper.show-value-as-tags .vscomp-value-tag {
  background-color: #3B4053;
  color: white;
  font-size: 11px;
  padding: 2px 5px 2px 10px;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
}

.vscomp-wrapper.show-as-popup .vscomp-dropbox {
  border-radius: 8px !important;
}
